
.hero{
    width: 100%;
    height: 35vh;
    /*background: linear-gradient(to bottom, #6c1d45 , #a821643b), url("../../img/acerca_de/acerca-de.png") center no-repeat;*/
    /*background: #3b3b3b;*/
    background-size: cover;
    /*minuto 40:45*/
    display: flex;
    align-items: center;
    text-align: center; 
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: 'Roboto', sans-serif;
  }

    .hero:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, #6c1d45 , #a821643b), url("../../img/acerca_de/acerca-de.png") center no-repeat;
    background-size: cover;
    border-radius: 0 0 250% 250%/0 0 40% 40%;
    z-index: -1;
  
  }
  @media screen and (min-width: 600px){

    .hero{
      width: 100%;
      height: 45vh;
      background:linear-gradient(to bottom, #6c1d45 , #a821643b), url("../../img/acerca_de/acerca-de.png") center no-repeat;
      /*background: #3b3b3b;*/
      background-size: cover;
      /*minuto 40:45*/
      display: flex;
      align-items: center;
      text-align: center; 
      /*font-family: 'Permanent Marker', cursive;*/
      font-family: 'Roboto', sans-serif;
    }

    .hero:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 45%;
      background: url("../../img/acerca-de/fondo.png") center no-repeat;
      background-size: cover;
      border-radius: 0 0 250% 250%/0 0 40% 40%;
      z-index: -1;
    }

}



.acerca__de{
  margin: 2rem;
  margin-top: -5%;

}

.wrapper-grid {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-gap: 2rem;
  justify-content: center;
}


.container8 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background: linear-gradient(to right, #6c1d45 , #a82165 );
  /*background-image: url('../../../img/inicio/IPN-blancoOk1.png');*/
  text-align: center;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.75);
}


.banner-img {
  position: absolute;
  background-image: url('../../../img/inicio/baner2.png');
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.profile-img {
  width: 12rem;
  clip-path: circle(91px at center);
  margin-top: 1rem;
}


.name {
  font-weight: 500;
  font-size: 19px;
  margin-top: -7rem;
  color: #fff;
}


.description {
  margin: 1rem 2rem;
  font-size: 17px;
  color: aliceblue;
}


.btn5 {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--clr-primary);
}

@media screen and (min-width: 500px) {

.acerca__de{
  margin: 2rem;
  margin-top: 5%;

}
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .name {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 600px) {
  .wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .name {
    margin-top: -7rem;
  }
}


@media screen and (min-width: 760px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .name {
    margin-top: -2rem;
  }
}
