.hero{
    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, #6c1d45 , #a821643b), url("../../img/nuevos-avisos/inicio.png") center no-repeat;
    /*background: #3b3b3b;*/
    background-size: cover;
    /*minuto 40:45*/
    display: flex;
    align-items: center;
    text-align: center; 
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: 'Roboto', sans-serif;
  }
